ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 3rem;

}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 30%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "1";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

/*-------- 1 */
ol.progtrckr li.progtrckr-done1:before {
    content: "1";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo1:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

ol.progtrckr li.progtrckr-done1 {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo1 {
    color: silver;
    border-bottom: 4px solid silver;
}

/*------- 2 */
ol.progtrckr li.progtrckr-done2:before {
    content: "2";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo2:before {
    content: "2";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

ol.progtrckr li.progtrckr-done2 {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo2 {
    color: silver;
    border-bottom: 4px solid silver;
}

/*------- 3 */
ol.progtrckr li.progtrckr-done3:before {
    content: "3";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo3:before {
    content: "3";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

ol.progtrckr li.progtrckr-done3 {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo3 {
    color: silver;
    border-bottom: 4px solid silver;
}

/*------- 4 */
ol.progtrckr li.progtrckr-done4:before {
    content: "4";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo4:before {
    content: "4";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

ol.progtrckr li.progtrckr-done4 {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo4 {
    color: silver;
    border-bottom: 4px solid silver;
}

/*------- 5 */
ol.progtrckr li.progtrckr-done5:before {
    content: "5";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo5:before {
    content: "5";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

ol.progtrckr li.progtrckr-done5 {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo5 {
    color: silver;
    border-bottom: 4px solid silver;
}

/*------- 6 */
ol.progtrckr li.progtrckr-done6:before {
    content: "6";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo6:before {
    content: "6";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

ol.progtrckr li.progtrckr-done6 {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo6 {
    color: silver;
    border-bottom: 4px solid silver;
}

